
<div class="row-fluid">
	<div class="span6">
		<div class="hero-unit">
			<h2>Welcome to LYC App!</h2>
			<p>This app let's you stay on top of your kids activities while you are away or too busy.</p>
			<%= link_to "Sign up now!", '#', :class => 'btn btn-primary btn-large' %>
		</div>
	</div>
	<div class="span6">
		<div class="hero-unit">
			<h2>What We Can:</h2>
			<p>Tbc...</p>
		</div>
</div>